  /* font-family: 'Roboto Condensed', sans-serif; */
  /* Roboto 400. 500. 700 */

  /* Roboto Condenced 700 */

  /* body section styles */

  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Roboto Condensed', sans-serif; */

  /* GLOBAL */

  :root {
    --accent-color: #ff7500;
    --white-color: #fff;
    --body-font: 'Roboto', Arial, sans-serif;
    --headings-font: 'Roboto Condensed', Roboto, Arial, sans-serif;
  }

  html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }

  /* Container */
  .container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

  }

  *:focus {
    outline: 2px dotted var(--accent-color);
    outline-offset: 3px;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  /* Header section styles */
  header {
    background-color: var(--white-color);
  }

  .site-header {
    border-top: 5px solid var(--accent-color);
    padding-top: 16px;
    padding-bottom: 16px;
  }


  .logo-link {
    transition: opacity 0.4s ease;
  }

  .logo-link img {
    display: block;
  }

  .logo-link:hover {
    opacity: 0.8;
  }

  .logo-link:active {
    opacity: 0.6;
  }


  .site-header-actions {
    display: flex;
    align-items: center;
  }

  .sitenav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 32px;
  }

  .sitenav-item {
    margin-right: 32px;
  }

  .sitenav-item:last-child {
    margin-right: 0;
  }

  .sitenav-link {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 15px;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000;
    transition: color 0.4s ease,
      opacity 0.4s ease;
  }

  .sitenav-link:hover {
    color: var(--accent-color);
  }

  .sitenav-link:active {
    opacity: 0.6;
  }

  .main-link {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--white-color);
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
    transition: opacity 0.4s ease;
    padding: 12px 24px;
    border-radius: 4px;
  }

  .main-link:hover {
    opacity: 0.8;
  }

  .main-link:active {
    opacity: 0.6;
  }


  /* Hero section styles */

  .hero {
    background-color: #252420;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    /* height: 488px; */
  }

  .hero-content {
    width: 390px;
    color: var(--white-color);
  }

  .hero-img {
    width: 510px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
    position: absolute;
    right: 20px;
    top: -40px;
  }

  .orange-line {
    width: 80px;
    height: 3px;
    background-color: var(--accent-color);
    border: 0;
    margin: 0;
    margin-bottom: 40px;
  }

  .hero-heading {
    font-size: 40px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0.5px;
    font-family: var(--headings-font);
    margin-top: 0;
    margin-bottom: 24px;
  }

  .hero-text {
    margin-top: 0;
    margin-bottom: 32px;
  }

  /* Features section  */

  .features {
    padding-top: 210px;
    padding-bottom: 210px;
  }

  .features-heading {
    font-size: 72px;
    line-height: 1.2;
    width: 440px;
    font-family: var(--headings-font);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 72px;
  }

  .features-list {
    list-style: none;
    display: flex;
    /*  */
    padding: 0;
    margin: 0;
  }

  .feature {
    width: 340px;
    margin-right: 40px;
  }

  .feature:last-child {
    margin-right: 0;
  }


  .feature-icon-wrapper {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }

  .feature-title {
    font-size: 24px;
    line-height: 1.2;
    font-family: var(--headings-font);
    margin-top: 0;
    margin-bottom: 12px;
  }

  .feature-info {
    margin: 0;
  }


  /* body da berilgan .feature-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
} */


  /* Promo section styles */

  .promo {
    margin-top: 120px;
    margin-bottom: 160px;
  }

  .promo-inner {
    background-color: #252420;
    color: var(--white-color);
    padding: 64px;
    border-radius: 12px;
    height: 420px;
  }

  .promo-content {
    width: 440px;
  }

  .promo-heading {
    font-size: 40px;
    line-height: 48px;
    font-family: var(--headings-font);
    margin-top: 0;
    margin-bottom: 24px;
  }


  /* body da berilgan .promo-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
} */

  .promo-highlight {
    color: var(--accent-color);
  }

  .promo-img {
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
    position: absolute;
    right: 64px;
    top: -64px;
  }

  .promo-info-wrapper {
    margin-bottom: 24px;
  }

  .promo-text {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .promo-text:last-child {
    margin-bottom: 0;
  }


  /* Footer section styles */
  .site-footer {
    background-color: #f8f8f8;
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .site-footer__list {
    list-style: none;
    padding: 0;
  }

  .site-footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-footer__logo-link {
    margin-right: 36px;
  }

  .site-footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .socials__item {
    margin-right: 16px;
  }

  .socials-item:last-child {
    margin-right: 0;
  }

  .socials__link {
    color: #252420;
    display: block;
  }

  .socials__icon {
    display: block;
  }

  .socials__link:hover {
    color: var(--accent-color);
  }

  .socials__link:active {
    opacity: 0.6;
  }

  .site-footer__bottom {
    display: flex;

  }

  .site-footer__divider {
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
    border: 0;
    margin-top: 40px;
    margin-bottom: 64px;
  }

  .site-footer__links {
    width: 224px;
    padding: 0;
    list-style: none;
    margin: 0;
    margin-right: 68px;
  }

  .site-footer__links li {
    margin-bottom: 16px;
  }

  .site-footer__links li:last-child {
    margin-bottom: 0;
  }

  .site-footer__links:last-child {
    margin-right: 0;
  }

  .site-footer__links a {
    text-decoration: none;
    color: #252420;
    /* font-size: 16px; */
    line-height: 19px;

  }

  .site-footer__links a:hover {
    color: var(--accent-color);
  }

  .site-footer__links a:active {
    opacity: 0.6;
  }


  /* MEDIA QUERIES */

  @media screen and (max-width:1200px) {
    .hero-img {
      position: static;
      margin-right: 30px;
      width: 100%;
      max-width: 510px;
    }
  }


  /* 1100 */
  @media screen and (max-width: 1100px) {

    .feature {
      width: 30%;
      margin-right: 5%;
    }

    .site-footer__links {
      width: 20.36%;
      margin-right: 6.18%;
    }
  }

  @media screen and (max-width: 1000px) {
    .hero-content {
      flex-grow: 1;
      margin-right: 50px;
    }

    .hero-img {
      width: 350px;
      height: 350px;
    }
    .features {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  /* 800 */

  @media screen and (max-width: 800px) {
    .hero-img {
      width: 300px;
      height: 300px;
    }
  }

  /* 768 */

  @media screen and (max-width: 768px) {

    .hero-container{
      display: flex;
      flex-direction: column-reverse;
    }

    .hero-content{
      width: 100%;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;    

    }

    .hero-img {
      margin-right: 0;
      margin-bottom: 36px;
    }


    .features {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .features-heading {
      margin-bottom: 48px;
      font-size: 50px;
    }

    .site-footer__bottom {
      flex-wrap: wrap;
    }

    .site-footer__links {
      width: 30%;
      margin-right: 5%;
      margin-bottom: 36px;
    }

    .site-footer__links:last-child {
      margin-right: 5%;
    }

    .site-footer__links:nth-child(3n) {
      margin-right: 0;
    }
  }

  /* 600px */

  @media screen and (max-width: 600px) {

    .features-list {
      flex-wrap: wrap;
    }

    .feature {
      width: 47%;
      margin-right: 6%;
      margin-bottom: 36px;
    }

    .feature-icon-wrapper {
      margin-bottom: 16px;
    }

    .feature:nth-child(2n) {
      margin-right: 0%;
    }


    .site-footer__links {
      width: 46%;
      margin-right: 8%;
    }

    .site-footer__links:nth-child(2n) {
      margin-right: 0;
    }

    .site-footer__links:nth-child(3n) {
      margin-right: 8%;
    }
  }


  /* 530 */

  @media screen and (max-width: 530px) {
    .orange-line {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    .features-heading {
      width: 100%;
      text-align: center;
    }

    .feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-right: 0;
      margin-bottom: 48px;
    }

    .site-footer {
      padding: 36px 0;
    }

    .site-footer__top {
      flex-direction: column;
    }

    .site-footer__logo-link {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }


  /* 400 */

  @media screen and (max-width: 400px) {

    .hero-img {
      max-width: 100%;
      height: auto;
      box-shadow:none;
    }
    .features {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .features-heading {
      font-size: 36px;
      margin-bottom: 20px;
    }

    .feature-title {
      font-size: 20px;
    }

    .site-footer__bottom {
      text-align: center;
    }

    .site-footer__links {
      width: 100%;
      margin-right: 0;
    }

    .site-footer__links:nth-child(3n) {
      margin-right: 0;
    }

    .site-footer__links:last-child {
      margin-bottom: 0;
    }

  }